<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Login Page </title>
<style>
button {
    width: 150px;
    color: orange;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}

input[type=text], input[type=password] {
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid green;
    box-sizing: border-box;
}
button:hover {
    opacity: 0.7;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 25px;
    background-color: lightblue;
    text-align: center;
}
</style>
</head>
<body>
    <center> <h1> Facebook </h1> </center>
    <form action="/login" method="POST">
        <div class="container">
            <label>Username : </label>
            <input type="text" placeholder="Enter Username" name="username" required><br>
            <label>Password : </label>
            <input type="password" placeholder="Enter Password" name="password" required><br>
            <p style="color:red;font-size: 12px;"><%= message %></p>
            <br>
            <button type="submit">Login</button>
            <a href="/init_register">Register</a>
        </div>
    </form>
</body>
</html>
